/* general h1 h2 h3 body list link logo */
.site {
    background-color: white;
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-one {
    color: #ffffff;
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0;
}
.header-two {
    color: #2E2F42;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0;
}
.skils .header-two {
    line-height: 1.2;
}
.portfolio .header-two,
.team .header-two {
    line-height: 1.11;
    text-transform: capitalize;
}
.header-three {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin: 0;
}
.list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.link {
    color: #434455;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 4%;
    text-decoration: none;
}

.image {
    display: block;
}
.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.site .top-line .menu .logo .top-logo {
    color: #2E2F42;
}
.site .down-line .logo .down-logo {
    color: #F4F4FD;
}
/*.container {
    width: 1158px;
    padding: 0 15px;
}
*/
/* top-line*/
.site .top-line {
    border-bottom: #E7E9FC solid 1px;
    padding: 24px 0;
}
.site .top-line .container{
    display: flex;
    gap: 332px;
    justify-content: center;
    align-items: center;
    flex-basis: calc((100%-332px)/2);
}
.site .top-line .container .menu {
    display: flex;
    gap: 76px;
    flex-basis: calc((100%-76px)/2);
    align-items: center;
}
.site .top-line .container .menu .logo{
    margin-right: 76px;
}
.site .top-line .container .menu .list .link{
    padding: 24px 0;
}
.top-line .container .menu .list {
    display: flex;
    gap: 40px;
    flex-basis: calc((100%-80px)/3);
}
.top-line .container .conect .list {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-basis: calc((100%-40px)/2);
}
.site .top-line .container .menu .list .link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.site .top-line .container .conect .list .link {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}
.site .top-line .container .menu .list .link:focus,
.site .top-line .container .conect .list .link:focus,
.site .top-line .container .conect .list .link:hover,
.site .top-line .container .menu .list .link:hover {
    color: #404BBF;
}

/*service*/
.site .site-inform .service {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
}
.site .site-inform .service .container{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
.site .site-inform .service .button-text {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    height: 56px;
    min-width: 169px;
    border: none;
    border-radius: 4px;
}
.site .site-inform .service .button-text:focus,
.site .site-inform .service .button-text:hover {
    background-color: #404BBF;
}
.site .site-inform .service .container .header-one {
    display: block;
    max-width: 496px;
}
/*soft skils*/
.site .site-inform .skils {
    padding: 120px 0;
}
.site .site-inform .skils .container {
    margin: 0 156px;
}
.site .site-inform .skils .container .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
    clip-path: inset(100%);
    padding: 0;
}
.site .site-inform .skils .container .list{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.site .site-inform .skils .container .list .skils-pins {
    flex-basis: calc((100%-72px)/4);
}
.site .site-inform .skils .container .list .skils-pins .header-three{
    margin-bottom: 8px;
}
/*team*/
.site .site-inform .team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.site .site-inform .team .container .header-two {
    margin-bottom: 72px;
}
.site .site-inform .team .container .list {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.site .site-inform .team .container .list .card {
    flex-basis: calc((100%-72px)/4);
    background-color: white;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 1 #2E2F42;
}
.site .site-inform .team .container .list .card .card-text{
    padding: 32px 0;
    
}
.site .site-inform .team .container .list .card .header-three {
    margin-bottom: 8px;
}
/*portfolio*/
.site .site-inform .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.site .site-inform .portfolio .container {
    margin: 0 156px;
}
.site .site-inform .portfolio .container .header-two {
    margin-bottom: 72px;
}
.site .site-inform .portfolio .container .portfolio-pins {
    width: calc((100% - 48px) / 3);
}
.site .site-inform .portfolio .container .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 48px;
    column-gap: 24px;
}
.site .site-inform .portfolio .container .list .card-p-text {
    padding: 32px 16px;
    border-left: #E7E9FC solid 1px;
    border-bottom: #E7E9FC solid 1px;
    border-right: #E7E9FC solid 1px;
}
.site .site-inform .portfolio .container .list .card-p-text .header-three{
    margin-bottom: 8px;
}
/*down-line*/
.site .down-line {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding:100px 0;
}
.site .down-line .container .logo {
    display: inline-block;
    margin-bottom: 16px;
}
.site .down-line .container {
    padding-left: 156px;
}
.site .down-line .container .p-text {
    max-width: 264px;

}







